<!DOCTYPE html>
<html class="page" lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--  Edge и ряд мобильных браузеров слишком умны. Отключим это.-->
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <meta name="google" content="notranslate">
    <title>Название проекта</title>
    <meta name="description" content="">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="../css/style.css" data-inprogress="">
    <link type="text/css" rel="stylesheet" href="../css/home.css" data-inprogress="">
</head>

<body>
    <header class="header">
        <div class="header__inner">
            <div class="header__top">
                <img src="../img/logo.svg" alt="Логотип компании" class="logo header__logo">
                <button class="menu-burger header__burger" type="button">
        <i class="icon-menu"></i>
        <span class="menu-burger__rel">Открыть меню</span>
      </button>
                <nav class="navigation header__navigation">
                    <button class="navigation__close" type="button">
          <span>Закрыть меню</span>
          <i class="icon-close"></i>
        </button>
                    <ul class="navigation__list">
                        <li class="navigation__item">
                            <a href="#beratung" class="navigation__link js-anchor">Beratung</a>
                        </li>
                        <li class="navigation__item">
                            <a href="#lösungen" class="navigation__link js-anchor">Lösungen</a>
                        </li>
                        <li class="navigation__item">
                            <a href="#technologien" class="navigation__link js-anchor">Technologien</a>
                        </li>
                        <li class="navigation__item">
                            <a href="#kontakt" class="navigation__link js-anchor">Kontakt</a>
                        </li>
                        <li class="navigation__item">
                            <a href="#" class="navigation__link js-anchor">Impressum</a>
                        </li>
                        <li class="navigation__item">
                            <a href="#" class="navigation__link js-anchor">Datenschutz</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <img src="../img/main-baner.jpg" alt="" class="header__main-banner">
        </div>
    </header>



    <main>
        <section class="about-us">
            <div class="about-us__inner">
                <ul class="about-us__list">
                    <li class="about-us__item">
                        <div class="about-us__item-wrapper">
                            <h2 class="about-us__title title">Über <span>uns</span></h2>
                            <span class="about-us__icon">
            <i class="icon-group-87"></i>
          </span>
                            <div class="about-us__content">
                                <p class="about-us__text text">Als Spezialist für Daten-, Software- und Prozess-Integration bieten wir Ihnen maßgeschneiderte Lösungen auf Basis modernster Technologien. Sie profitieren von unserer langjährigen Software-, Infrastruktur- und Prozess-Expertise.
                                    Zu unseren Kunden zählen Großkonzerne sowie mittelständische Unternehmen.</p>
                            </div>
                        </div>
                    </li>
                    <li class="about-us__item about-us__item--bg-color beratung">
                        <div class="about-us__item-wrapper">
                            <h2 class="about-us__title title">Beratung</h2>
                            <span class="about-us__icon">
            <i class="icon-vector"></i>
          </span>
                            <div class="about-us__content">
                                <p class="about-us__text text text--blue">Wir bieten unseren Kunden hochqualifizierte Beratungsleistungen in allen IT-Projektphasen: Von der Anforderungsanalyse bis hin zum Rollout und Betrieb</p>
                                <ul class="about-us__inner-list">
                                    <li class="about-us__inner-item">Einführung moderner Integrations-Architekturen</li>
                                    <li class="about-us__inner-item">Unterstützung bei der Auswahl von ESB-, SOA- und Messaging Plattformen
                                    </li>
                                    <li class="about-us__inner-item">Durchführung von Migrationsprojekten im Integrations-Umfeld</li>
                                    <li class="about-us__inner-item">Cloud- und Container-Einführung im Integrations-Umfeld</li>
                                    <li class="about-us__inner-item">Einführung/Optimierung von Continuous Integration Prozessen</li>
                                    <li class="about-us__inner-item">Optimierung von Entwicklungs- und Betriebsprozessen</li>
                                </ul>
                                <p class="about-us__text about-us__text--mt text">Durch unsere Best Practices und vorgefertigte Pakete werden signifikante Kosten- und Risiko-Minimierung erreicht.</p>
                            </div>
                        </div>
                    </li>
                    <li class="about-us__item lösungen">
                        <div class="about-us__item-wrapper">
                            <h2 class="about-us__title title">Lösungen</h2>
                            <span class="about-us__icon">
            <i class="icon-solution-1"></i>
          </span>
                            <div class="about-us__content">
                                <p class="about-us__text text text--blue">Wir unterstützen unsere Kunden bei der Planung, Einführung, Umsetzung und Optimierung der folgenden Lösungen sowie während der Transformations- und Migrationsphasen
                                </p>
                                <ul class="about-us__inner-list">
                                    <li class="about-us__inner-item">Enterprise Service Bus (ESB) Lösungen</li>
                                    <li class="about-us__inner-item">SOA-Lösungen</li>
                                    <li class="about-us__inner-item">Messaging Middleware-Lösungen</li>
                                    <li class="about-us__inner-item">Individuelle Software-Lösungen</li>
                                    <li class="about-us__inner-item">Moderne DevOps-Lösungen</li>
                                    <li class="about-us__inner-item">Container- und Cloud-Lösungen</li>
                                    <li class="about-us__inner-item">Application Management</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="about-us__item about-us__item--bg-color technologien">
                        <div class="about-us__item-wrapper">
                            <h2 class="about-us__title title">Technologien</h2>
                            <span class="about-us__icon">
            <i class="icon-project-1"></i>
          </span>
                            <div class="about-us__content">
                                <p class="about-us__text text text--blue">Wir stellen unser langjähriges und praxisbewährtes Know-How in den folgenden Technologien gern zur Verfügung</p>
                                <ul class="about-us__inner-list">
                                    <li class="about-us__inner-item">Moderne Integrationsplattformen (IBM Integration Bus, Talend, Apache Camel)</li>
                                    <li class="about-us__inner-item">Messaging Middleware (IBM MQ, Active MQ, Apache Kafka)</li>
                                    <li class="about-us__inner-item">Java EE (IBM WebSphere Application Server, Spring)</li>
                                    <li class="about-us__inner-item">DevOps (Git, Jenkins, CI/CD, Elastic Stack)</li>
                                    <li class="about-us__inner-item">Cloud/Container (Docker, Kubernetes, IBM Cloud, AWS, Cloud Foundry)</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="about-us__item kontakt">
                        <div class="about-us__item-wrapper">
                            <h2 class="about-us__title title">Kontakt</h2>
                            <span class="about-us__icon">
            <i class="icon-group"></i>
          </span>
                            <div class="about-us__content">
                                <ul class="about-us__inner-list about-us__inner-list--no-mark">
                                    <li class="about-us__inner-item">Picture</li>
                                    <li class="about-us__inner-item">Bonhoefferstr. 30</li>
                                    <li class="about-us__inner-item">73760 Ostfildern</li>
                                    <li class="about-us__inner-item">E-Mail: <a href="mailto:mail@inbox.ru"></a></li>
                                    <li class="about-us__inner-item"> Tel.: <a href="tel:+380671577878"></a></li>
                                </ul>
                                <a href="#header" class="button-top js-anchor"><i class="icon-vector-2"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <button class="button-fixet" type="button">вверх</button>
        </section>
    </main>




    <footer class="footer">
        <div class="footer__inner">
            <h2 class="footer__title">Навигация по сайту</h2>
            <p class="footer__text">Copyright © 2018 OnPoint Consulting GmbH. Alle Rechte vorbehalten</p>
        </div>
    </footer>

    <section class="modal">
        <!-- Модальное окно РЕГЕСТРИЦИЯ -->
        <div class="popup popup--big modal__registration" data-modal="registration">
            <div class="modal__dialog">
                <div class="modal__header modal__header--line">
                    <h3 class="modal__title">Регистрация</h3>
                    <button class="modal__close close close--grey-dark close--icon" type="button">
          <span class="close__description">Закрыть модальное окно</span>
          <i class="icon-error"></i>
        </button>
                </div>
                <div class="modal__content">
                    <form action="#" class="form">
                        <div class="form__wrapper form__wrapper--column-2">
                            <label class="label">
              <span class="label__name">Имя</span>
              <input type="text" class="input" placeholder="Имя">
            </label>
                            <label class="label">
              <span class="label__name">Фамилия</span>
              <input type="text" class="input" placeholder="Фамилия">
            </label>
                            <label class="label">
              <span class="label__name">E-mail</span>
              <input type="email" class="input" placeholder="E-mail">
            </label>
                            <label class="label">
              <span class="label__name">Телефон</span>
              <input type="tel" class="input" placeholder="Телефон">
            </label>
                            <label class="label">
              <span class="label__name">Пароль</span>
              <input id="password" type="password" name="password" class="input" placeholder="Пароль">
            </label>
                            <label class="label">
              <span class="label__name">Повторите пароль</span>
              <input type="password" name="confirm_password" class="input" placeholder="Повторите пароль">
            </label>
                        </div>
                        <span class="text-error">Ошибка...</span>
                        <button type="submit" class="button button--blue button--xs-s modal__registration-button js-open-modal" data-modal="thanks-registration">
            Зарегистрироваться
          </button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Модальное окно Спасибо за РЕГЕСТРИЦИЮ -->
        <div class="popup popup--small modal__thanks-registration" data-modal="thanks-registration">
            <div class="modal__dialog">
                <div class="modal__header modal__header--center">
                    <h3 class="modal__title modal__title--element title title--element">Спасибо Вам за регистрацию</h3>
                </div>
                <div class="modal__content modal__content--center">
                    <button class="button button--border-transparent button--modal js-open-modal" data-modal="sign-in" type="button">Закрыть
        </button>
                </div>
            </div>
        </div>

        <!-- Модальное окно ВВОЙТИ -->
        <div class="popup popup--big popup--hight modal__sign-in" data-modal="sign-in">
            <div class="modal__dialog">
                <div class="modal__header modal__header--line">
                    <h3 class="modal__title">Вход</h3>
                    <button class="modal__close close close--grey-dark close--icon" type="button">
          <span class="close__description">Закрыть модальное окно</span>
          <i class="icon-error"></i>
        </button>
                </div>
                <div class="modal__content modal__content--center">
                    <form action="#" class="form">
                        <div class="form__wrapper form__wrapper--column-2">
                            <p>
                                <label class="label">
                <span class="label__name">E-mail</span>
                <input type="email" class="input" placeholder="E-mail">
              </label>
                                <button type="button" class="button link link--blue modal__sign-in-link js-open-modal" data-modal="registration">Регистрация
              </button>
                            </p>
                            <p>
                                <label class="label">
                <span class="label__name">Пароль</span>
                <input type="password" class="input" placeholder="Пароль">
              </label>
                                <button type="button" class="button link link--blue modal__sign-in-link js-open-modal" data-modal="password-reminder">Напомнить пароль
              </button>
                            </p>
                        </div>
                        <span class="text-error">Ошибка...</span>
                        <a href="personal-area.html" class="button button--blue button--xs-s modal__sign-in-button">
            Войти
          </a>
                    </form>
                </div>
            </div>
        </div>

        <!-- Подложка под модальным окном -->
        <div class="modal__overlay modal__overlay--opened js-overlay-modal"></div>
    </section>


    <script src="../js/jquery.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/home.min.js"></script>

</body>

</html>